{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 80,
  "proseWrap": "always",
  "singleQuote": true,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 600
      }
    }
  ]
}
