// https://gitee.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@import 'antd/dist/antd.less';

@juiceOrange: #FFB32C;
@juiceBlue: #32c8db;
@grape: #5a565f;
@grapeLight: #908c96;
@body: fade(#fff, 85%);
@darkBase: #131115;

@primary-color: @juiceBlue;
@background-color-light: @grape;
@border-color-base: @grape;
@background-color-base: @darkBase;

@heading-color: @juiceOrange;
@info-color: @grape;

@text-color: @body;
@text-color-secondary: fade(#fff, 65%);

@input-placeholder-color: fade(#fff, 35%);
@input-hover-border-color: @grapeLight;

@component-background: @darkBase;

@btn-primary-color: #000;
@btn-font-weight: 500;

@disabled-color: fade(#fff, 25%);

@border-color-base: fade(#fff, 12%); // base border outline a component
@border-color-split: fade(#fff, 6%); // split border inside a component

@tooltip-bg: fade(#000, 92%);