.ant-statistic-content {
  font-family: 'DM Mono', monospace;
}

.ant-statistic-content {
  font-size: 1.1rem;
}

.ant-input-affix-wrapper.align-end > input {
  text-align: end;
}

th.ant-descriptions-item-label {
  font-weight: 600;
}

.ant-spin {
  color: $juiceOrange !important;
}
.ant-spin-dot > .ant-spin-dot-item {
  background: $juiceOrange;
}
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-icon
  .ant-steps-icon {
  color: $background;
  font-weight: 600;
}
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title {
  color: $cta;
}

.ant-timeline-item-last {
  padding-bottom: 0;
}

.ant-menu-item:hover {
  background: none !important;
}

/* Chrome, Safari, Edge, Opera */
input.ant-input::-webkit-outer-spin-button,
input.ant-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: none;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab .ant-tabs-tab-btn {
  font-weight: inherit;
  color: $juiceOrange;
}

/* Firefox */
input.ant-input[type='number'] {
  -moz-appearance: textfield;
}

.ant-descriptions-bordered .ant-descriptions-item-label {
  background-color: #241c2b99;
}

.ant-descriptions-item-label {
  color: $bodySecondary;
}

.ant-btn-primary {
  text-shadow: none;
}

.ant-btn[disabled] {
  color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.16);
  background: transparent;

  &:hover {
    color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.16);
    background: transparent;
  }
}

.ant-input-affix-wrapper-disabled,
.ant-input[disabled] {
  background: transparent;
}

.ant-input-affix-wrapper-disabled:hover {
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.ant-statistic-title {
  color: $juiceOrange;
}

.ant-statistic-content {
  color: $bodyPrimary;
}

.ant-collapse-header {
  font-weight: 500;
}

.ant-collapse-content,
.ant-collapse-content-box {
  background-color: transparent;
  border: none;
}

input:-internal-autofill,
input:-internal-autofill:hover,
input:-internal-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill-selected {
  background: transparent !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  background-image: none !important;
}

.ant-collapse.minimal {
  .ant-collapse-content-box {
    padding-left: 0;
    padding-right: 0;
  }

  .ant-collapse-header {
    padding-right: 0;
    padding-left: 24px;
    color: $bodyPrimary;

    .ant-collapse-arrow {
      left: 0;
    }
  }
}

.antd-no-number-handler {
  .ant-input-number-handler-wrap {
    display: none;
  }
}
