$juiceOrange: #ffb32c;
$body: rgba(255, 255, 255, 0.85);
$bodySecondary: rgba(255, 255, 255, 0.65);

body {
  margin: 0;
  background: #131115;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'DM Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  height: 100%;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: 'DM Mono', monospace;
}

div,
p,
button,
a {
  font-family: 'DM Mono', monospace;
}

label {
  font-weight: 500;
}

a {
  color: #32c8db;
  font-weight: 600;

  &:hover {
    color: #009baf;
  }
}

input {
  background: #131115;
  color: white;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
}

@import 'antd-overrides.scss';
