/* FONT FACES */

/* body */
@font-face {
  font-family: 'Beatrice';
  src: url('/assets/fonts/Beatrice-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Beatrice';
  src: url('/assets/fonts/Beatrice-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

/* heading */
@font-face {
  font-family: 'Agrandir';
  src: url('/assets/fonts/PPAgrandir-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* display */
@font-face {
  font-family: 'Agrandir-Wide';
  src: url('/assets/fonts/PPAgrandir-WideMedium.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Agrandir-Wide';
  src: url('/assets/fonts/PPAgrandir-WideBold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
