@import './utilities';

body {
  margin: 0;
  background: #131115;
  font-family: 'DM Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
  background: var(--background-l0);
  overscroll-behavior-y: none;
}

div#__next {
  height: 100%;
}

code {
  font-family: 'DM Mono', monospace;
}

div,
p,
button,
a {
  font-family: 'DM Mono', monospace;
}

label {
  font-weight: 500;
  color: var(--text-secondary);
}

a {
  color: var(--text-action-primary);
  font-weight: 500;
  transition: none;

  &:hover {
    color: var(--text-action-highlight);
  }
}

input {
  background: var(--background-l0);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-header);
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .hide-tablet {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
}

.twitter-tweet {
  display: inline-flex !important;
}

.dcg-container {
  background: none !important;
  background-color: none !important;
}

::selection {
  color: var(--text-primary);
  background: var(--background-action-secondary);
}

html,
p,
span,
li,
button {
  transition: background-color 100ms linear, background 100ms linear;
}

body,
.top-nav,
div {
  transition: background-color 250ms linear;
}

@import 'antd-overrides/index.scss';
@import 'web3-onboard-overrides/index.scss';
@import './fonts.scss';
