@import './utilities';


/* FONT FACES */
@font-face {
  font-family: 'Beatrice';
  src: url('../styles/fonts/Beatrice.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Beatrice';
  src: url('../styles/fonts/Beatrice-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Beatrice';
  src: url('../styles/fonts/Beatrice-Semibold.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Agrandir-Wide';
  src: url('../styles/fonts/PPAgrandirWide-Bold.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Agrandir-Wide';
  src: url('../styles/fonts/PPAgrandirWide-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Agrandir';
  src: url('../styles/fonts/PPAgrandir.woff');
  font-weight: 400;
  font-style: normal;
}


/* HTML ELEMENTS */

body {
  margin: 0;
  font-family: Beatrice, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-grey-900;
  @apply bg-smoke-25;
}

body.dark {
  @apply bg-slate-800;
  @apply text-slate-100;
}

div#__next {
  height: 100%;
}

div,
p,
button,
a,
code {
  font-family: Beatrice, sans-serif;
}

label {
  @apply font-medium;
  @apply text-secondary;
}

a {
  @apply text-action-primary;
  @apply font-medium;
  transition: none;

  &:hover {
    @apply text-action-primary-hover;
  }
}

input {
  @apply bg-smoke-50 dark:bg-slate-600;
  @apply text-primary;
}

b,
strong {
  @apply font-medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary;
}

h1, h2 {
  font-family: Agrandir-Wide, sans-serif;
  @apply font-bold
}

h3,
h4,
h5,
h6 {
  font-family: Agrandir, sans-serif;
  @apply text-primary;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

::selection {
  @apply text-primary;
  @apply bg-haze-200 dark:bg-haze-700;
}

html,
p,
span,
li,
button {
  transition: background-color 100ms linear, background 100ms linear;
}

body,
div {
  transition: background-color, border 250ms linear;
}

@import 'antd-overrides/index.scss';
@import 'web3-onboard-overrides/index.scss';
@import 'create/index.scss';
