.star-wars-header {
  font-family: 'Jedise', sans-serif;
}

.star-wars-logo-animation {
  animation: logo 12s linear 5s forwards;
  animation-delay: 9s;
}

.final-animation {
  animation: final 10s linear forwards;
  animation-delay: 85s;
}

.fade-in-out-animation {
  animation: fade-in-out 8s ease-in-out normal forwards;
}

@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(0.1);
  }
}

@keyframes final {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

// -------

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl-new {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
}

.crawl-new-animation {
  animation: crawl-new 90s linear;
}

.crawl-new > .title {
  font-size: 90%;
  text-align: center;
}

.crawl-new > .title h1 {
  margin: 0 0 100px;
  color: #feda4a;
  text-transform: uppercase;
}

@keyframes crawl-new {
  0% {
    top: 50vh;
    transform: rotateX(20deg) translateZ(0);
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    top: -7000px;
    transform: rotateX(25deg) translateZ(-2500px);
    opacity: 0;
  }
}
