.text-primary {
  color: var(--text-primary);
}

.hover-text-secondary {
  &:hover {
    color: var(--text-secondary) !important;
    transition: color 250ms;
  }
}

.hover-text-action-primary {
  transition: unset;

  &:hover {
    color: var(--text-action-primary);
  }
}

.hover-text-decoration-underline {
  transition: unset;

  &:hover {
    text-decoration: underline;
  }
}

.hover-bg-l2 {
  &:hover {
    background-color: var(--background-l2);
  }
}

.hover-color-unset {
  &:hover {
    color: unset
  }
}

.hover-box-shadow:hover {
  box-shadow: 3px 0px 11px 0px var(--boxShadow-primary)
}

.selected-box-shadow {
  box-shadow: 2px 0px 10px 0px var(--boxShadow-primary)
}
