// TEXT COLORS
.text-primary {
  @apply text-grey-900 dark:text-slate-100;
}
.text-secondary {
  @apply text-grey-500 dark:text-slate-200;
}
.text-tertiary {
  @apply text-grey-400 dark:text-slate-300;
}
.text-disabled {
  @apply text-grey-400 dark:text-slate-200;
}
.text-over-disabled {
  @apply text-grey-400 dark:text-slate-200;
}
.text-brand {
  @apply text-juice-400 dark:text-juice-400;
}

.text-action-primary {
  @apply text-bluebs-400 dark:text-bluebs-300;
}
.text-action-primary-hover {
  @apply text-bluebs-300 dark:text-bluebs-400;
}

.text-over-action-primary {
  @apply text-white dark:text-bluebs-900;
}
.text-over-action-secondary {
  @apply text-bluebs-400 dark:text-slate-100;
}

.text-warning {
  @apply text-warning-500 dark:text-warning-300;
}

.text-error {
  @apply text-error-500 dark:text-error-300;
}

// BACKGROUNDS
.bg-l0 {
  @apply bg-smoke-25 dark:bg-slate-800;
}
.bg-l1 {
  @apply bg-smoke-100 dark:bg-slate-700;
}
.bg-l2 {
  @apply bg-smoke-200 dark:bg-slate-600;
}
.bg-action-primary {
  @apply bg-bluebs-400 dark:bg-bluebs-400;
}
.bg-action-highlight {
  @apply bg-bluebs-500 dark:bg-bluebs-400;
}
.bg-disabled {
  @apply bg-grey-300 dark:bg-slate-500;
}

// STROKES
.stroke-primary {
  @apply border-grey-400 dark:border-slate-200;
}
.stroke-secondary {
  @apply border-grey-300 dark:border-slate-300;
}
.stroke-tertiary {
  @apply border-grey-200 dark:border-slate-400;
}
.stroke-action-primary {
  @apply border-bluebs-400 dark:border-bluebs-400;
}
.stroke-action-secondary {
  @apply border-bluebs-400 dark:border-bluebs-300;
}
.stroke-action-highlight {
  @apply border-bluebs-500 dark:border-bluebs-500;
}
.stroke-disabled {
  @apply border-grey-400 dark:border-slate-200;
}

.shadow-action-secondary {
  @apply shadow-bluebs-300 dark:shadow-bluebs-300;
}

.input-focus {
  box-shadow: 0 0 0 2px theme('colors.bluebs.50');
}

.dark .input-focus {
  box-shadow: 0 0 0 2px theme('colors.bluebs.800');
}
