.text-primary {
  @apply text-grey-900 dark:text-slate-100;
}
.text-secondary {
  @apply text-grey-600 dark:text-slate-300;
}
.text-tertiary {
  @apply text-grey-500 dark:text-slate-400;
}
.text-action-primary {
  @apply text-haze-400 dark:text-haze-300;
}
.text-over-action-primary {
  @apply text-white dark:text-haze-900
}
.bg-action-primary {
  @apply bg-haze-400 dark:bg-haze-400;
}

.color-unset {
  color: unset;
}

.hover-text-action-primary {
  &:hover {
    @apply text-action-primary;
  }
}

.hover-text-decoration-underline {
  &:hover {
    text-decoration: underline;
  }
}

.hover-bg-l2 {
  &:hover {
    background-color: var(--background-l2);
  }
}

.hover-color-unset {
  &:hover {
    color: unset;
  }
}

.selected-box-shadow {
  box-shadow: 2px 0px 10px 0px var(--boxShadow-primary);
}

.text-decoration-underline {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.text-decoration-dashed {
  text-decoration-style: dashed;
}
.text-decoration-secondary {
  text-decoration-color: var(--stroke-secondary);
}
.hover-text-primary {
  &:hover {
    @apply text-primary;
  }
}
