.ant-btn {
  background: transparent;
  border-color: var(--stroke-action-secondary);
  color: var(--text-over-action-secondary);
  font-weight: 500;

  &:hover {
    background: transparent;
    border-color: var(--stroke-action-primary);
    color: var(--text-action-primary);
  }

  &:focus,
  &.ant-btn-loading {
    background: transparent;
    border-color: var(--stroke-action-secondary);
    color: var(--text-over-action-secondary);
  }
}

.ant-btn-primary {
  background: var(--background-action-primary);
  border-color: var(--stroke-action-primary);
  color: var(--text-over-action-primary);

  &:hover {
    background: var(--background-action-highlight);
    border-color: var(--stroke-action-primary);
    color: var(--text-over-action-primary);
  }

  &:focus,
  &.ant-btn-loading {
    background: var(--background-action-primary);
    border-color: var(--stroke-action-primary);
    color: var(--text-over-action-primary);
  }
}

.ant-btn-primary {
  text-shadow: none;
}

.ant-btn[disabled] {
  color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.16);
  background: transparent;

  &:hover {
    color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.16);
    background: transparent;
  }
}
