.ant-menu,
.ant-menu-item,
.ant-menu-item > a {
  color: var(--text-primary) !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;

  &:hover {
    opacity: .8;
  }
}

.ant-layout-header {
  color: var(--text-primary);
}
