.ant-tooltip-inner {
  color: var(--text-primary);
  background: var(--background-l0);
  border-radius: var(--radius-md);
  padding: 12px 16px;
  box-shadow: 0 4px 12px #00000064;
  font-size: .85rem;
}
