.create-collapse {
  .ant-collapse-header {
    padding-left: 0 !important;
    border-bottom: solid 1px var(--stroke-tertiary);
  }

  .ant-collapse-content-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
