:root {
  // Ensure greater than other modal indices of 20, but less than walletconnect (uses z-index=90)
  --onboard-modal-z-index: 89; 

  --onboard-connect-sidebar-background: theme(colors.smoke.100);
  --onboard-connect-sidebar-color: theme(colors.black);
  --onboard-connect-sidebar-progress-background: theme(colors.smoke.500);
  --onboard-connect-sidebar-progress-color: theme(colors.juice.400);

  --onboard-connect-header-background: theme(colors.smoke.25);
  --onboard-connect-header-color: theme(colors.black);

  --onboard-close-button-background: transparent;
  --onboard-close-button-color: theme(colors.grey.500);

  --onboard-wallet-button-background: transparent;
  --onboard-wallet-button-background-hover: theme(colors.smoke.100);
  --onboard-wallet-button-color: theme(colors.black);
  --onboard-wallet-button-border-color: theme(colors.smoke.200);
  --onboard-wallet-app-icon-border-color: theme(colors.smoke.200);

  --onboard-main-scroll-container-background: theme(colors.smoke.25);
}
