.ant-btn {
  background: transparent;
  @apply border-haze-400 dark:border-slate-300;
  @apply text-over-action-secondary;
  @apply font-medium;
  border-radius: 1px;
  transition: all 100ms linear;

  .anticon {
    transition: margin 100ms linear;
  }

  &:hover .anticon-arrow-left {
    margin-right: 2px;
  }

  &:hover .anticon-arrow-right {
    margin-left: 10px;
  }

  &:hover {
    @apply bg-haze-50 dark:bg-haze-900;
    @apply stroke-action-secondary;
    @apply text-action-primary;
  }

  &:focus,
  &.ant-btn-loading {
    background: transparent;
    @apply stroke-action-secondary;
    @apply text-over-action-secondary;
  }
}

.ant-btn-primary {
  &:not(.ant-btn[disabled]) {
    @apply bg-action-primary;
    border-color: transparent;
    @apply text-over-action-primary;
    box-shadow: none;
  }

  &:hover:not(.ant-btn[disabled]) {
    @apply bg-action-highlight;
    @apply text-over-action-primary;
  }

  &:focus,
  &.ant-btn-loading {
    @apply bg-action-primary;
    @apply stroke-action-primary;
    @apply text-over-action-primary;
  }
}

.ant-btn-primary {
  text-shadow: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
  border-color: transparent;

  &:hover {
    border-color: transparent;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.12);
  }
}

.ant-btn[disabled] {
  @apply text-over-disabled;
  @apply stroke-disabled;
  background: transparent;

  &.ant-btn-primary {
    @apply bg-disabled;
    border-color: transparent;

    &:hover {
      @apply bg-disabled;
      border-color: transparent;
    }
  }

  &:hover {
    @apply text-over-disabled;
    @apply stroke-disabled;
    background: transparent;
    opacity: 0.7;
  }
}

.ant-btn-text {
  border: transparent;
}

.ant-btn-link {
  @apply text-action-primary;
  border: none;
  @apply font-medium;

  &:hover {
    @apply text-action-primary-hover;
  }
  &:focus,
  &:active {
    @apply text-action-primary;
  }
}
