.ant-btn {
  background: transparent;
  @apply border-bluebs-400 dark:border-slate-300;
  @apply text-over-action-secondary;
  @apply font-medium;
  @apply rounded-lg;
  transition: all 100ms linear;
  @apply h-10;

  .anticon {
    transition: margin 100ms linear;
  }

  &:hover {
    @apply bg-bluebs-50 dark:bg-bluebs-900;
    @apply stroke-action-secondary;
    @apply text-action-primary;
  }

  &:focus,
  &.ant-btn-loading {
    background: transparent;
    @apply stroke-action-secondary;
    @apply text-over-action-secondary;
  }

  &:not(.ant-btn[disabled]) {
    &:hover .anticon-arrow-left {
      margin-right: 2px;
    }
  
    &:hover .anticon-arrow-right {
      margin-left: 10px;
    }
  }  
}

.ant-btn-primary {
  &:not(.ant-btn[disabled]) {
    @apply bg-action-primary;
    border-color: transparent;
    @apply text-over-action-primary;
    box-shadow: none;
  }

  &:hover:not(.ant-btn[disabled]) {
    @apply bg-action-highlight;
    @apply text-over-action-primary;
  }

  &:focus,
  &.ant-btn-loading {
    @apply bg-action-primary;
    @apply stroke-action-primary;
    @apply text-over-action-primary;
  }
}

.ant-btn-primary {
  text-shadow: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
  border-color: transparent;

  &:hover {
    border-color: transparent;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.12);
  }
}

.ant-btn[disabled] {
  @apply text-over-disabled;
  @apply stroke-disabled;
  background: transparent;

  &.ant-btn-primary {
    @apply bg-disabled;
    border-color: transparent;

    &:hover {
      @apply bg-disabled;
      border-color: transparent;
    }
  }

  &:hover {
    @apply text-over-disabled;
    @apply stroke-disabled;
    background: transparent;
    opacity: 0.7;
  }
}

.ant-btn-text {
  border: transparent;
}

.ant-btn-link {
  @apply px-2;
  @apply text-action-primary;
  border: none;
  @apply font-medium;

  &:hover {
    @apply bg-bluebs-50;
  }
  &:focus,
  &:active {
    @apply text-action-primary;
  }
}

.ant-btn-lg {
  @apply h-12;
}

.ant-btn-sm {
  padding: 4px 15px;
}

.ant-upload.ant-upload-select-picture-card:hover {
  @apply stroke-action-primary;
}
