.ant-collapse {
  background: var(--background-l0);
  border-color: var(--stroke-secondary);

  .ant-collapse-item {
    border-color: var(--stroke-secondary);

    .ant-collapse-header {
      font-weight: 500;
      color: var(--text-header);
    }
  }

  .ant-collapse-content,
  .ant-collapse-content-box {
    background-color: transparent;
    border: none;
    color: var(--text-primary);
  }
}

.ant-collapse.minimal {
  .ant-collapse-content-box {
    padding-left: 0;
    padding-right: 0;
  }

  .ant-collapse-header {
    display: flex;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
    width: 100%;

    .ant-collapse-arrow {
      left: 0;
    }
  }
}

// Top Nav Select
// Right side of the top nav
.top-nav-right-section {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 10px;
  right: 50px;

  .ant-collapse-header {
    color: var(--text-primary) !important;
    padding-bottom: 8px !important;
  }

  .ant-collapse-content {
    float: right;
    margin-right: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2px;
    background-color: var(--background-l0);
    border-radius: 7px;
  }
  .ant-collapse-content-box {
    border: none !important;
    box-shadow: none !important;
    padding: 0;
    width: 100%;
  }
  .ant-select-arrow {
    display: none;
  }
  .nav-dropdown-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    color: var(--text-primary);
    font-weight: 400;
    cursor: pointer;
  }
  .ant-collapse-content-inactive {
    display: none;
  }
  .nav-dropdown-item:hover {
    background-color: var(--background-l1);
  }
}

// Specific to the dotdotdot dropdown (in case we want to put another select in)
.top-nav-options {
  margin-right: 10px;
  // margin-top: 10px;
  .ant-collapse {
    width: 110px;
    text-align: right;
    margin-right: -10px;
    // background-color: rgba(0, 0, 0, 0);
  }
  .ant-collapse-content {
    width: 170px;
    margin-right: -22px;
  }
}
