.ant-collapse {
  @apply stroke-secondary;
  @apply rounded-lg;

  .ant-collapse-item {
    @apply stroke-secondary;

    .ant-collapse-header {
      @apply items-center;
      @apply font-medium;
      @apply text-primary;
    }
  }

  .ant-collapse-content,
  .ant-collapse-content-box {
    background-color: transparent;
    border: none;
    @apply text-primary;
  }
}

.ant-collapse.minimal {
  .ant-collapse-content-box {
    padding-left: 0;
    padding-right: 0;
  }

  .ant-collapse-header {
    display: flex;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
    width: 100%;

    .ant-collapse-arrow {
      left: 0;
    }
  }
}
.ant-collapse.minimal.light .ant-collapse-header-text {
  font-weight: 400;
}

// Top Nav Select
// Right side of the top nav
.top-nav {
  // Resources dropdown and options (dotdotdot) menu
  .ant-collapse-header {
    @apply text-primary;
    padding-bottom: 8px !important;
  }

  .ant-collapse-content {
    float: right;
    margin-right: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2px;
    @apply bg-l0;
    border-radius: 2px;
  }
  .ant-collapse-content-box {
    border: 1px solid;
    @apply stroke-tertiary;
    padding: 0;
    width: 100%;
    @apply bg-l0;
  }

  .ant-select-arrow {
    display: none;
  }
}

.ant-collapse-content-inactive {
  display: none;
}

.top-nav-mobile {
  .ant-collapse {
    width: 100%;
    margin-bottom: 4px;
    height: 55px;
  }
  .ant-collapse-content {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
  }
  .ant-collapse-content-box {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    margin-top: -2px;
    padding: 7px 0 15px;
    border: none;
    border-bottom: 1px solid;
    @apply stroke-secondary;
  }

  .nav-subsection {
    > div {
      display: flex;
      align-items: center;
    }
  }
}

.projects-filter-collapse .ant-collapse-content {
  position: absolute;
  z-index: 999;
  @apply bg-l0;
  width: 180px;
  @apply shadow-md;
  @apply shadow-smoke-100 dark:shadow-slate-600;

  .ant-collapse-content-box {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.ant-collapse-content-hidden {
  display: none !important;
}

.ant-collapse-header-text-primary .ant-collapse-item .ant-collapse-header {
  @apply text-primary;
}

.ant-collapse-header-p-0 .ant-collapse-item .ant-collapse-header {
  padding: 0;
}

.ant-collapse-header-text {
  width: 100%;
}

.ant-collapse-expand-icon {
  @apply flex;
}
