.ant-dropdown-menu-title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-dropdown-menu-item:hover {
  @apply bg-l1;
}

.ant-dropdown-menu {
  padding: 0;
  border-radius: 1px;
  @apply bg-l0;
  border: 1px solid;
  @apply stroke-tertiary;
  box-shadow: 0px 8px 12px var(--boxShadow-primary);
}

.ant-dropdown-menu-item {
  padding: 10px 15px;
}
