.ant-modal {
  @apply rounded-sm;
}

.ant-modal-content {
  @apply text-primary;
  background: var(--background-l0);

  .ant-modal-header {
    background: transparent;
  }

  .ant-modal-title {
    @apply text-primary;
  }

  .ant-modal-close-x {
    color: var(--icon-secondary);
  }

  .ant-modal-footer,
  .ant-modal-header {
    border-color: transparent;
  }
}

.ant-modal-wrap,
.ant-modal-mask {
  z-index: 1;
}

.ant-modal-footer {
  .ant-btn {
    max-width: 100%;
  }
}
