.ant-radio-checked .ant-radio-inner {
  border-color: var(--background-action-primary);
}

.ant-radio-inner::after {
  background-color: var(--background-action-primary);
}

.ant-radio-wrapper,
.ant-radio-button-wrapper {
  @apply text-primary;
  &:hover {
    @apply text-primary;
  }
}

.ant-radio-wrapper-disabled span {
  @apply text-disabled;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
  border-color: var(--stroke-action-primary);
  @apply text-action-primary;

  &::before {
    background-color: var(--stroke-action-primary);
  }
}
