.ant-statistic-content {
  font-family: 'DM Mono', monospace;
  font-size: 1.2rem;
  color: var(--text-primary);
  font-weight: 500;
}

.ant-statistic-title {
  color: var(--text-secondary);
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}

