.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 1px solid var(--stroke-tertiary);
}

.ant-tabs {
  color: unset
}

.ant-tabs-nav {
  margin-bottom: 2rem !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab .ant-tabs-tab-btn {
  font-weight: inherit;
  color: var(--text-primary);
}

.ant-tabs-tab.ant-tabs-tab-active {
  font-weight: 500;
}

.ant-tabs-tab-btn,
.ant-tabs-tab .ant-tabs-tab-btn {
  color: var(--text-secondary);
  &:hover {
    color: var(--text-primary);
  }
}

.ant-tabs-ink-bar {
  background: var(--text-primary);
  height: 1px !important;
}
